@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap);


* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #424551;
  line-height: 1;
  font-family: "lato";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "lato";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 78.75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  font-weight: 700;
  background: -o-linear-gradient(34.05deg, #FF3F3A 0%, #F75E05 100%);
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 0.25rem;
  line-height: 1.25;
  padding: 0.9375rem 2.5rem;
  color: #FFFFFF;
  border: 1px solid transparent;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.button._fw {
  width: 100%;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.subtitle {
  font-weight: 700;
  line-height: 1.5;
  color: #1E212C;
}

.title {
  font-weight: 900;
  font-size: 2.875rem;
  line-height: 1.3043478261;
  color: #1E212C;
}

.footer-title {
  line-height: 1.5;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.icon-menu {
  display: none;
}

.header {
  padding: 1.25rem 0rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  z-index: 50;
}

.header._header-scroll {
  padding: 1.25rem 0rem 1.25rem 0rem;
  background-color: rgba(235, 229, 229, 0.8980392157);
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3.75rem;
     -moz-column-gap: 3.75rem;
          column-gap: 3.75rem;
  row-gap: 0.9375rem;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.125rem;
          flex: 0 0 8.125rem;
  position: relative;
  z-index: 6;
}

.header__logo img {
  max-width: 100%;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-column-gap: 2.25rem;
     -moz-column-gap: 2.25rem;
          column-gap: 2.25rem;
  row-gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  row-gap: 0.9375rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-open .menu__items {
  left: 0;
}

.menu-open .menu__items::before {
  left: 0;
}

.menu__link {
  font-weight: 700;
  line-height: 1.625;
  position: relative;
}

.menu__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.3125rem;
  height: 0.125rem;
  width: 100%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.actions__btn {
  position: relative;
  z-index: 5;
}

.actions__items {
  font-weight: 700;
  line-height: 1.625;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.actions__log {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  padding-left: 1.5rem;
  background: url("../img/icon/Person.svg") 0 center no-repeat;
}

.actions__log::after {
  content: "/";
  padding: 0rem 0.3125rem;
}

.page__our {
  padding-top: 10.75rem;
  padding-bottom: 3.75rem;
}

.our__text {
  max-width: 28.125rem;
  text-align: center;
  margin: 0 auto;
}

.our__subtitle:not(:last-child) {
  margin-bottom: 0.5rem;
}

.our__title {
  margin-bottom: 3.75rem;
}

.our__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  margin-bottom: 3.75rem;
}

.info__items {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
  row-gap: 1.25rem;
}

.info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #9A9CA5;
  font-weight: 700;
  padding: 0.625rem 1.25rem 0.625rem;
  border: 0.0625rem solid transparent;
  line-height: 1.625;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.info__item span {
  padding-left: 0.1875rem;
  font-size: 0.625rem;
}

.info__form {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 19.6875rem;
          flex: 0 0 19.6875rem;
  height: 2.8125rem;
}

.info__btn {
  position: absolute;
  width: 2.8125rem;
  height: 2.8125rem;
  right: 0;
  bottom: 0;
  background: url("../img/icon/stroke.svg") center no-repeat;
}

.input {
  border: 0.0625rem solid #d7dadd;
  border-radius: 0.25rem;
  background-color: transparent;
  padding: 0.75rem 2.3125rem 0.75rem 1rem;
  width: 100%;
}

.input::-webkit-input-placeholder {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #9A9CA5;
}

.input::-moz-placeholder {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #9A9CA5;
}

.input:-ms-input-placeholder {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #9A9CA5;
}

.input::-ms-input-placeholder {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #9A9CA5;
}

.input::placeholder {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #9A9CA5;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

.our {
  position: relative;
}

.decor__item--1 {
  position: absolute;
  width: 9.8125rem;
  height: 11.25rem;
  right: -1%;
  top: 7%;
  background: url("../img/icon/dots.svg") no-repeat;
  z-index: -1;
}

.decor__item--2 {
  position: absolute;
  width: 5.3125rem;
  height: 5.3125rem;
  right: 6%;
  bottom: 35%;
  background: url("../img/icon/dots2.svg") no-repeat;
  z-index: -1;
}

.decor__item--3 {
  position: absolute;
  width: 5.1875rem;
  height: 2.75rem;
  left: 3%;
  bottom: 57%;
  background: url("../img/icon/dots3.svg") no-repeat;
  z-index: -1;
}

.our__cards {
  position: relative;
  z-index: 3;
  margin-bottom: 5rem;
}

.our__more {
  max-width: 12.5rem;
  margin: 0 auto;
  text-align: center;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: 700;
  line-height: 1.625;
}

.our__more::before {
  content: "";
  background: url("../img/icon/convert.svg") left bottom no-repeat;
  background-size: contain;
  padding-right: 2.25rem;
}

.cards__items {
  display: -ms-grid;
  display: grid;
  gap: 1.875rem;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
  grid-auto-rows: 1fr;
}

.cards__item {
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border: 0.0625rem solid #E5E8ED;
  border-radius: 0.25rem;
}

.cards__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1.5rem 1.5rem 3.375rem 1.5rem;
}

.cards__img-ibg {
  display: block;
  padding-bottom: 62%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.cards__img-ibg img {
  max-width: 100%;
}

.cards__profession {
  border-radius: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #fff;
  padding: 0.0625rem 0.5rem;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.cards__profession--green {
  background-color: #03CEA4;
}

.cards__title {
  font-weight: 700;
  color: #1E212C;
}

.cards__text {
  color: #787a80;
  font-size: 1.125rem;
  line-height: 1.5;
}

.cards span {
  position: relative;
  color: #FF4242;
  padding-right: 1rem;
}

.cards span::after {
  content: "";
  position: absolute;
  right: 0.5rem;
  top: 0.1875rem;
  width: 0.0625rem;
  height: 1rem;
  background-color: #787a80;
}

.cards__profession--blue {
  background-color: #5A87FC;
}

.cards__profession--orange {
  background-color: #F89828;
}

.cards__profession--pink {
  background-color: #F52F6E;
}

.cards__profession--purple {
  background-color: #7772F1;
}

.page__certificate {
  padding-bottom: 7.5rem;
}

.item-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.item-columns__inner {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 24.5rem;
          flex: 0 1 24.5rem;
}

.item-columns__subtitle:not(:last-child) {
  margin-bottom: 0.5rem;
}

.item-columns__title:not(:last-child) {
  margin-bottom: 3.125rem;
}

.item-columns__text {
  line-height: 1.625;
}

.item-columns__text:not(:last-child) {
  margin-bottom: 2rem;
}

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  row-gap: 0.9375rem;
}

.partners__label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6.25rem;
          flex: 0 0 6.25rem;
}

.partners__label img {
  max-width: 100%;
}

.img-certificate {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 44.0625rem;
          flex: 0 1 44.0625rem;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border: 0.0625rem solid #E5E8ED;
  border-radius: 0.25rem;
}

.img-certificate img {
  max-width: 100%;
}

.subscribe {
  padding-top: 7.5rem;
  padding-bottom: 11.25rem;
  background: url("../img/icon/bgcolor.svg") left bottom no-repeat, url("../img/icon/bgcolor.svg") right bottom no-repeat, -o-linear-gradient(34.05deg, rgba(255, 64, 58, 0.199) 0%, rgba(247, 94, 5, 0.204) 100%);
  background: url("../img/icon/bgcolor.svg") left bottom no-repeat, url("../img/icon/bgcolor.svg") right bottom no-repeat, linear-gradient(55.95deg, rgba(255, 64, 58, 0.199) 0%, rgba(247, 94, 5, 0.204) 100%);
}

.subscribe__subtitle {
  text-align: center;
}

.subscribe__subtitle:not(:last-child) {
  margin-bottom: 0.5rem;
}

.subscribe__title {
  max-width: 50rem;
  margin: 0 auto;
  text-align: center;
}

.subscribe__title:not(:last-child) {
  margin-bottom: 3.75rem;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 37.5rem;
  margin: 0 auto;
}

.subscribe__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: 0.0625rem solid #E5E8ED;
  border-radius: 0.25rem;
  padding: 0.8125rem 1rem;
}

.subscribe__input::-webkit-input-placeholder {
  color: #9A9CA5;
}

.subscribe__input::-moz-placeholder {
  color: #9A9CA5;
}

.subscribe__input:-ms-input-placeholder {
  color: #9A9CA5;
}

.subscribe__input::-ms-input-placeholder {
  color: #9A9CA5;
}

.subscribe__input::placeholder {
  color: #9A9CA5;
}

.subscribe__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.footer {
  background-color: #1E212C;
  color: rgba(255, 255, 255, 0.7);
  padding-top: 5rem;
}

.footer a {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.footer__bottom {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1.25rem 0rem;
}

.top-footer {
  padding-bottom: 3.75rem;
}

.top-footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(6.875rem, 17.1875rem) minmax(3.75rem, 5rem) minmax(5rem, 6.875rem);
  grid-template-columns: minmax(6.875rem, 17.1875rem) minmax(3.75rem, 5rem) minmax(5rem, 6.875rem);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  -webkit-column-gap: 5rem;
     -moz-column-gap: 5rem;
          column-gap: 5rem;
}

.social__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.social__logo {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.375rem;
          flex: 0 0 1.375rem;
  width: 8.125rem;
}

.social__logo img {
  max-width: 100%;
}

.social__text {
  font-size: 0.75rem;
  line-height: 1.5;
}

.social__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 0.625rem;
}

.social__menu li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5rem;
          flex: 0 0 1.5rem;
}

.social__link {
  display: inline-block;
}

.social__link img {
  max-width: 100%;
}

.map-footer__title:not(:last-child) {
  margin-bottom: 0.75rem;
}

.no-webp .map-footer__title._spoller-active{
  background: #FF3F3A url("../img/icon-footer/svg2.png") 96% center/20px 20px no-repeat; }

.map-footer__items {
  line-height: 1.625;
}

.map-footer__items li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.courses-footer__title:not(:last-child) {
  margin-bottom: 0.75rem;
}

.no-webp .courses-footer__title:not(:last-child)._spoller-active{
  background: #FF3F3A url("../img/icon-footer/svg2.png") 96% center/20px 20px no-repeat; }

.courses-footer__items {
  line-height: 1.625;
}

.courses-footer__items li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.contacts-us-footer {
  line-height: 1.625;
}

.contacts-us-footer a {
  display: inline-block;
}

.contacts-us-footer a:not(:last-child) {
  margin-bottom: 0.5rem;
}

.contacts-us-footer__title:not(:last-child) {
  margin-bottom: 0.75rem;
}

.contacts-us-footer__phone {
  padding-left: 1.5625rem;
  background: url("../img/icon-footer/iphone.svg") left center no-repeat;
}

.contacts-us-footer__email {
  padding-left: 1.5625rem;
  background: url("../img/icon-footer/email.svg") left center no-repeat;
}

.form-footer__title:not(:last-child) {
  margin-bottom: 1.5rem;
}

.form-footer__subscribe {
  position: relative;
  width: 17.875rem;
}

.form-footer__subscribe:not(:last-child) {
  margin-bottom: 0.75rem;
}

.form-footer__btn {
  position: absolute;
  width: 1.875rem;
  height: 1.875rem;
  right: 1%;
  bottom: 10%;
  background: url("../img/icon-footer/line.svg") center no-repeat;
}

.form-footer__input {
  padding: 0.5625rem 2.25rem 0.5625rem 0.75rem;
  width: 100%;
  border-radius: 0.25rem;
  background-color: rgba(236, 229, 229, 0.12);
  border: 0.0625rem solid rgba(255, 255, 255, 0.2);
}

.form-footer__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.75rem;
  line-height: 1.5;
}

.form-footer__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.75rem;
  line-height: 1.5;
}

.form-footer__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.75rem;
  line-height: 1.5;
}

.form-footer__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.75rem;
  line-height: 1.5;
}

.form-footer__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.75rem;
  line-height: 1.5;
}

.form-footer__text {
  font-size: 0.625rem;
  line-height: 1.5;
}

.bottom-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bottom-footer__copy span::before {
  content: "";
  background: url("../img/icon-footer/heart.svg") left center no-repeat;
  padding-right: 20px;
}

.bottom-footer__go-to {
  text-transform: uppercase;
}

@media (min-width: 78.75em) {
  .header__actions {
    -webkit-column-gap: 2.25rem;
       -moz-column-gap: 2.25rem;
            column-gap: 2.25rem;
  }

  .menu__items {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .our__title {
    margin-bottom: 3.75rem;
  }

  .our__cards {
    margin-bottom: 5rem;
  }

  .page__certificate {
    padding-bottom: 7.5rem;
  }

  .subscribe {
    padding-bottom: 11.25rem;
  }

  .footer {
    padding-top: 5rem;
  }

  .top-footer {
    padding-bottom: 3.75rem;
  }

  .top-footer__container {
    -webkit-column-gap: 5rem;
       -moz-column-gap: 5rem;
            column-gap: 5rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.875rem;
  }

  .header__actions {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .menu__items {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .our__title {
    margin-bottom: 1.25rem;
  }

  .our__cards {
    margin-bottom: 1.25rem;
  }

  .page__certificate {
    padding-bottom: 1.5625rem;
  }

  .subscribe {
    padding-bottom: 2.5rem;
  }

  .footer {
    padding-top: 2.5rem;
  }

  .top-footer {
    padding-bottom: 1.25rem;
  }

  .top-footer__container {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}

@media (max-width: 78.75em) {
  .decor__item--1 {
    opacity: 0.2;
  }

  .decor__item--2 {
    opacity: 0.2;
  }

  .decor__item--3 {
    opacity: 0.2;
  }
}

@media (max-width: 74.375em) {
  .info__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0.75rem;
    grid-auto-rows: 1fr;
  }
}

@media (max-width: 65.25rem) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #424551;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 65.25rem) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 65.25em) {
  .header__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu__items {
    padding-bottom: 2.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #e2e5ef;
    color: #232121;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    overflow: auto;
    z-index: 5;
  }

  .menu__items::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    width: 100%;
    background-color: rgba(106, 105, 104, 0.6941176471);
    z-index: 3;
  }

  .actions__log {
    position: relative;
    z-index: 5;
  }

  .actions__reg {
    position: relative;
    z-index: 5;
  }
}

@media (max-width: 65.25em) and (max-width: 20em) {
  .menu__items {
    padding-top: 5.625rem;
  }

  .menu__items {
    font-size: 1.25rem;
  }

  .menu__items::before {
    height: 4.6875rem;
  }
}

@media (max-width: 61.99875em) {
  .page__our {
    padding-top: 8.125rem;
  }

  .cards__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .item-columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .item-columns__inner {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .item-columns {
    text-align: center;
  }

  .item-columns__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .partners {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .img-certificate {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .subscribe {
    background: url("../img/icon/bgcolor.svg") center bottom no-repeat, -o-linear-gradient(34.05deg, rgba(255, 64, 58, 0.199) 0%, rgba(247, 94, 5, 0.204) 100%);
    background: url("../img/icon/bgcolor.svg") center bottom no-repeat, linear-gradient(55.95deg, rgba(255, 64, 58, 0.199) 0%, rgba(247, 94, 5, 0.204) 100%);
    padding-top: 5rem;
  }

  .top-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 1.5625rem;
  }

  .social {
    max-width: 18.75rem;
  }

  .social__logo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .social__text {
    text-align: center;
  }

  .social__menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .map-footer {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 18.75rem;
    text-align: center;
  }

  .no-webp .map-footer__title{
    background: rgba(234, 235, 241, 0.5) url("../img/icon-footer/svg.png") 96% center/20px 20px no-repeat; }

  .map-footer__title {
    border-radius: 0.5rem;
    border: 0.0625rem solid rgba(255, 255, 255, 0.2);
    padding: 0.9375rem 0rem;
  }

  .map-footer__title:not(:last-child) {
    margin-bottom: 0rem;
  }

  .map-footer__items li {
    margin-top: 0.5rem;
  }

  .map-footer__items li:not(:last-child) {
    margin-bottom: 0rem;
  }

  .courses-footer {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 1.875rem;
            flex: 1 1 1.875rem;
    width: 18.75rem;
    text-align: center;
  }

  .no-webp .courses-footer__title{
    background: rgba(234, 235, 241, 0.5) url("../img/icon-footer/svg.png") 96% center/1.25rem 1.25rem no-repeat; }

  .courses-footer__title {
    border-radius: 0.5rem;
    border: 0.0625rem solid rgba(255, 255, 255, 0.2);
    padding: 0.9375rem 0rem;
  }

  .courses-footer__title:not(:last-child) {
    margin-bottom: 0rem;
  }

  .courses-footer__items li {
    margin-top: 0.5rem;
  }

  .courses-footer__items li:not(:last-child) {
    margin-bottom: 0rem;
  }

  .contacts-us-footer a:not(:last-child) {
    margin-bottom: 0rem;
  }

  .contacts-us-footer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }

  .contacts-us-footer__title {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 5rem;
            flex: 1 1 5rem;
    width: 18.75rem;
    text-align: center;
  }

  .form-footer {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    max-width: 18.125rem;
    align-self: center;
    text-align: center;
  }

  .bottom-footer__container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 61.99875em) and (max-width: 47.99875em) {
  .subscribe {
    padding-top: 1.875rem;
  }
}

@media (max-width: 47.99875em) {
  .button {
    padding: 0.75rem 1.25rem;
  }

  .page__our {
    padding-top: 5.625rem;
  }

  .our__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .info__items {
    -ms-grid-columns: minmax(7.5rem, 12.5rem) minmax(7.5rem, 12.5rem);
    grid-template-columns: minmax(7.5rem, 12.5rem) minmax(7.5rem, 12.5rem);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .info__form {
    width: 18.75rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 2.8125rem;
            flex: 0 0 2.8125rem;
    margin-bottom: 1.25rem;
  }

  .cards__items {
    -ms-grid-columns: minmax(18.75rem, 25rem);
    grid-template-columns: minmax(18.75rem, 25rem);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 29.99875em) {
  .subscribe__btn {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .footer__bottom {
    padding: 0.625rem 0rem;
  }
}

@media (max-width: 26.5625em) {
  .bottom-footer__copy {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 12.5rem;
            flex: 0 1 12.5rem;
    margin: 0 auto;
  }
}

@media (max-width: 23.4375em) {
  .contacts-us-footer__box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 20em) and (max-width: 47.9375em) {
@supports (font-size: clamp( 1.875rem , 1.1591163311rem  +  3.5794183445vw , 2.875rem )) {
    .title {
      font-size: clamp( 1.875rem , 1.1591163311rem  +  3.5794183445vw , 2.875rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.1591163311rem  +  3.5794183445vw , 2.875rem )) {
    .title {
      font-size: calc(1.875rem + 1 * (100vw - 20rem) / 27.9375);
    }
}

@supports (width: clamp( 5.9375rem , 4.3715044743rem  +  7.8299776286vw , 8.125rem )) {
    .header__logo {
      width: clamp( 5.9375rem , 4.3715044743rem  +  7.8299776286vw , 8.125rem );
    }
}

@supports not (width: clamp( 5.9375rem , 4.3715044743rem  +  7.8299776286vw , 8.125rem )) {
    .header__logo {
      width: calc(5.9375rem + 2.1875 * (100vw - 20rem) / 27.9375);
    }
}
}

@media (min-width: 56.25em) and (max-width: 76.875em) {
@supports ((-moz-column-gap: clamp( 0.625rem , -7.8977272727rem  +  15.1515151515vw , 3.75rem )) or (column-gap: clamp( 0.625rem , -7.8977272727rem  +  15.1515151515vw , 3.75rem ))) {
    .header__inner {
      -webkit-column-gap: clamp( 0.625rem , -7.8977272727rem  +  15.1515151515vw , 3.75rem );
         -moz-column-gap: clamp( 0.625rem , -7.8977272727rem  +  15.1515151515vw , 3.75rem );
              column-gap: clamp( 0.625rem , -7.8977272727rem  +  15.1515151515vw , 3.75rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -7.8977272727rem  +  15.1515151515vw , 3.75rem )) or (column-gap: clamp( 0.625rem , -7.8977272727rem  +  15.1515151515vw , 3.75rem ))) {
    .header__inner {
      -webkit-column-gap: calc(0.625rem + 3.125 * (100vw - 56.25rem) / 20.625);
         -moz-column-gap: calc(0.625rem + 3.125 * (100vw - 56.25rem) / 20.625);
              column-gap: calc(0.625rem + 3.125 * (100vw - 56.25rem) / 20.625);
    }
}
}

@media (min-width: 20em) and (max-width: 78.75em) {
@supports ((-moz-column-gap: clamp( 0.625rem , 0.0718085106rem  +  2.7659574468vw , 2.25rem )) or (column-gap: clamp( 0.625rem , 0.0718085106rem  +  2.7659574468vw , 2.25rem ))) {
    .header__actions {
      -webkit-column-gap: clamp( 0.625rem , 0.0718085106rem  +  2.7659574468vw , 2.25rem );
         -moz-column-gap: clamp( 0.625rem , 0.0718085106rem  +  2.7659574468vw , 2.25rem );
              column-gap: clamp( 0.625rem , 0.0718085106rem  +  2.7659574468vw , 2.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , 0.0718085106rem  +  2.7659574468vw , 2.25rem )) or (column-gap: clamp( 0.625rem , 0.0718085106rem  +  2.7659574468vw , 2.25rem ))) {
    .header__actions {
      -webkit-column-gap: calc(0.625rem + 1.625 * (100vw - 20rem) / 58.75);
         -moz-column-gap: calc(0.625rem + 1.625 * (100vw - 20rem) / 58.75);
              column-gap: calc(0.625rem + 1.625 * (100vw - 20rem) / 58.75);
    }
}

@supports ((-moz-column-gap: clamp( 0.625rem , -0.0132978723rem  +  3.1914893617vw , 2.5rem )) or (column-gap: clamp( 0.625rem , -0.0132978723rem  +  3.1914893617vw , 2.5rem ))) {
    .menu__items {
      -webkit-column-gap: clamp( 0.625rem , -0.0132978723rem  +  3.1914893617vw , 2.5rem );
         -moz-column-gap: clamp( 0.625rem , -0.0132978723rem  +  3.1914893617vw , 2.5rem );
              column-gap: clamp( 0.625rem , -0.0132978723rem  +  3.1914893617vw , 2.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -0.0132978723rem  +  3.1914893617vw , 2.5rem )) or (column-gap: clamp( 0.625rem , -0.0132978723rem  +  3.1914893617vw , 2.5rem ))) {
    .menu__items {
      -webkit-column-gap: calc(0.625rem + 1.875 * (100vw - 20rem) / 58.75);
         -moz-column-gap: calc(0.625rem + 1.875 * (100vw - 20rem) / 58.75);
              column-gap: calc(0.625rem + 1.875 * (100vw - 20rem) / 58.75);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.3989361702rem  +  4.2553191489vw , 3.75rem )) {
    .our__title {
      margin-bottom: clamp( 1.25rem , 0.3989361702rem  +  4.2553191489vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.3989361702rem  +  4.2553191489vw , 3.75rem )) {
    .our__title {
      margin-bottom: calc(1.25rem + 2.5 * (100vw - 20rem) / 58.75);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -0.0265957447rem  +  6.3829787234vw , 5rem )) {
    .our__cards {
      margin-bottom: clamp( 1.25rem , -0.0265957447rem  +  6.3829787234vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.0265957447rem  +  6.3829787234vw , 5rem )) {
    .our__cards {
      margin-bottom: calc(1.25rem + 3.75 * (100vw - 20rem) / 58.75);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , -0.4587765957rem  +  10.1063829787vw , 7.5rem )) {
    .page__certificate {
      padding-bottom: clamp( 1.5625rem , -0.4587765957rem  +  10.1063829787vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , -0.4587765957rem  +  10.1063829787vw , 7.5rem )) {
    .page__certificate {
      padding-bottom: calc(1.5625rem + 5.9375 * (100vw - 20rem) / 58.75);
    }
}

@supports (padding-bottom: clamp( 2.5rem , -0.4787234043rem  +  14.8936170213vw , 11.25rem )) {
    .subscribe {
      padding-bottom: clamp( 2.5rem , -0.4787234043rem  +  14.8936170213vw , 11.25rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , -0.4787234043rem  +  14.8936170213vw , 11.25rem )) {
    .subscribe {
      padding-bottom: calc(2.5rem + 8.75 * (100vw - 20rem) / 58.75);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.6489361702rem  +  4.2553191489vw , 5rem )) {
    .footer {
      padding-top: clamp( 2.5rem , 1.6489361702rem  +  4.2553191489vw , 5rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.6489361702rem  +  4.2553191489vw , 5rem )) {
    .footer {
      padding-top: calc(2.5rem + 2.5 * (100vw - 20rem) / 58.75);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.3989361702rem  +  4.2553191489vw , 3.75rem )) {
    .top-footer {
      padding-bottom: clamp( 1.25rem , 0.3989361702rem  +  4.2553191489vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.3989361702rem  +  4.2553191489vw , 3.75rem )) {
    .top-footer {
      padding-bottom: calc(1.25rem + 2.5 * (100vw - 20rem) / 58.75);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , -0.0265957447rem  +  6.3829787234vw , 5rem )) or (column-gap: clamp( 1.25rem , -0.0265957447rem  +  6.3829787234vw , 5rem ))) {
    .top-footer__container {
      -webkit-column-gap: clamp( 1.25rem , -0.0265957447rem  +  6.3829787234vw , 5rem );
         -moz-column-gap: clamp( 1.25rem , -0.0265957447rem  +  6.3829787234vw , 5rem );
              column-gap: clamp( 1.25rem , -0.0265957447rem  +  6.3829787234vw , 5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -0.0265957447rem  +  6.3829787234vw , 5rem )) or (column-gap: clamp( 1.25rem , -0.0265957447rem  +  6.3829787234vw , 5rem ))) {
    .top-footer__container {
      -webkit-column-gap: calc(1.25rem + 3.75 * (100vw - 20rem) / 58.75);
         -moz-column-gap: calc(1.25rem + 3.75 * (100vw - 20rem) / 58.75);
              column-gap: calc(1.25rem + 3.75 * (100vw - 20rem) / 58.75);
    }
}
}

@media (max-width: 65.25em) and (min-width: 78.75em) {
  .menu__items {
    padding-top: 8.75rem;
  }

  .menu__items {
    font-size: 2.5rem;
  }
}

@media (max-width: 65.25em) and (min-width: 20em) and (max-width: 78.75em) {
@supports (padding-top: clamp( 5.625rem , 4.5611702128rem  +  5.3191489362vw , 8.75rem )) {
    .menu__items {
      padding-top: clamp( 5.625rem , 4.5611702128rem  +  5.3191489362vw , 8.75rem );
    }
}

@supports not (padding-top: clamp( 5.625rem , 4.5611702128rem  +  5.3191489362vw , 8.75rem )) {
    .menu__items {
      padding-top: calc(5.625rem + 3.125 * (100vw - 20rem) / 58.75);
    }
}

@supports (font-size: clamp( 1.25rem , 0.8244680851rem  +  2.1276595745vw , 2.5rem )) {
    .menu__items {
      font-size: clamp( 1.25rem , 0.8244680851rem  +  2.1276595745vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.8244680851rem  +  2.1276595745vw , 2.5rem )) {
    .menu__items {
      font-size: calc(1.25rem + 1.25 * (100vw - 20rem) / 58.75);
    }
}
}

@media (max-width: 65.25em) and (min-width: 20em) and (max-width: 65.25em) {
@supports (height: clamp( 4.6875rem , 4.2178867403rem  +  2.3480662983vw , 5.75rem )) {
    .menu__items::before {
      height: clamp( 4.6875rem , 4.2178867403rem  +  2.3480662983vw , 5.75rem );
    }
}

@supports not (height: clamp( 4.6875rem , 4.2178867403rem  +  2.3480662983vw , 5.75rem )) {
    .menu__items::before {
      height: calc(4.6875rem + 1.0625 * (100vw - 20rem) / 45.25);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background-size: 300%;
    background: -o-linear-gradient(307deg, rgb(233, 49, 105) 0%, rgb(247, 70, 34) 39%, rgb(236, 7, 31) 71%);
    background: linear-gradient(143deg, rgb(233, 49, 105) 0%, rgb(247, 70, 34) 39%, rgb(236, 7, 31) 71%);
    background-position: left bottom;
    color: #5b5858;
  }

  .menu__link:hover::before {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    background-color: #FF3F3A;
  }

  .actions__items:hover {
    text-decoration: underline;
  }

  .info__item:hover {
    color: #FF3F3A;
    border: 0.0625rem solid #FF3F3A;
  }

  .our__more:hover {
    -webkit-filter: drop-shadow(1px 1px 1px #FF3F3A);
            filter: drop-shadow(1px 1px 1px #FF3F3A);
  }

  .cards__img-ibg:hover {
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
  }

  .cards__profession:hover {
    -webkit-box-shadow: 0.125rem 0.125rem 0.1875rem #3f414a;
            box-shadow: 0.125rem 0.125rem 0.1875rem #3f414a;
  }

  .footer a:hover {
    -webkit-filter: drop-shadow(0.0625rem 0.0625rem 0.1875rem rgb(241, 16, 16));
            filter: drop-shadow(0.0625rem 0.0625rem 0.1875rem rgb(241, 16, 16));
  }
}

.webp .map-footer__title._spoller-active{ background: #FF3F3A url(../img/icon-footer/svg2.webp) 96% center/20px 20px no-repeat; }

.webp .courses-footer__title:not(:last-child)._spoller-active{ background: #FF3F3A url(../img/icon-footer/svg2.webp) 96% center/20px 20px no-repeat; }

@media (max-width: 61.99875em){

  .webp .map-footer__title{ background: rgba(234, 235, 241, 0.5) url(../img/icon-footer/svg.webp) 96% center/20px 20px no-repeat; }
}

@media (max-width: 61.99875em){

  .webp .courses-footer__title{ background: rgba(234, 235, 241, 0.5) url(../img/icon-footer/svg.webp) 96% center/1.25rem 1.25rem no-repeat; }
}